<h2 class="form-signin-heading"><%= APP_TITLE %></h2>

<%= form_tag "/", :method => "get", :class => "form-signin" do %>

  <% if respond_to?(:notice) && notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <% if (respond_to?(:alert) && alert.present?) || @alert.present? %>
    <p id="alert"><%= alert %><%= @alert %></p>
  <% end %>

  <label for="inputEmail" class="sr-only">メールアドレス</label>
  <input type="email" id="inputEmail" name="email" class="form-control" placeholder="メールアドレス" required autofocus>
  <label for="inputPassword" class="sr-only">パスワード</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="パスワード" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
<%  end %>
